<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/Expense-claim.css">
    <script src="https://kit.fontawesome.com/adf82fbd7e.js" crossorigin="anonymous"></script>
    <script src="../scripts/Expense-claim.js"></script>
    <title>Expense claim</title>
</head>

<body onload="paymentTypeFunction();showCreateForm()">
    <div class="top-nav" id="topNav">
        <a id="navItemCreate" class="nav-item active" onclick="showCreateForm();setActive(this)">Create</a>
        <a id="navItemView" class="nav-item" onclick="showCards();setActive(this)">View</a>
        <a id="navItemAccepted" class="nav-item" onclick="showNone();setActive(this)">Accepted</a>
        <a id="navItemRejected" class="nav-item" onclick="showNone();setActive(this)">Rejected</a>
        <a id="navItemPending" class="nav-item" onclick="showNone();setActive(this)">Pending</a>
    </div>
    <div class="main-div">
        <div class="expense-claim-form-container" id="expenseClaimFormContainer" style="display:none">
            <form class="expense-claim-form" id="expenseClaimForm" name="expenseClaimForm" onsubmit="event.preventDefault()">
                <div class="expense-claim-form-header" id="expenseClaimFormHeader">
                    <h2 style="float: top;">Expense Claim Details</h2>
                </div>
                <div class="expense-claim-form-body" id="expenseClaimFormBody">
                    <div>
                        <div><label for="employee">Employee<abbr title="This field is mandatory" class="required">*</abbr></label></div>
                        <div>
                            <select class="input" id="employee" name="employee" onblur="formValidate(false,this)" onchange="formValidate(false,this)" required>
                            <option value="">- - Select - -</option>
                        </select>
                            <div class="error-feild">&nbsp;</div>
                        </div>
                    </div>
                    <div>
                        <label for="expenseName">Expense Name<abbr title="This field is mandatory" class="required">*</abbr></label>
                    </div>
                    <div>
                        <input class="input" id="expenseName" name="expenseName" type="text" minlength="10" oninput="formValidate(false,this)" onblur="formValidate(false,this)" required>
                        <div class="error-feild">&nbsp;</div>
                    </div>
                    <div class="payment-type-and-method dual" id="paymentTypeAndMethod">
                        <div class="dual-item">
                            <div><label for="payment-type">Payment Type<abbr title="This field is mandatory" class="required">*</abbr></label></div>
                            <div>
                                <select class="input" id="paymentType" name="paymentType" onblur="formValidate(false,this)" onchange="formValidate(false,this)" required>
                                    <option value="">- - Select - -</option>
                                </select>
                                <div class="error-feild">&nbsp;</div>
                            </div>
                        </div>
                        <div class="dual-item">
                            <div><label for="payment-method">Payment Method<abbr title="This field is mandatory" class="required">*</abbr></label></div>
                            <div><select class="input" id="paymentMethod" name="payment-method" onblur="formValidate(false,this)" onchange="formValidate(false,this)" required>
                                <option value="">- - Select - -</option>
                            </select>
                                <div class="error-feild">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="payment-date-and-payout dual" id="paymentDateAndpayout">
                        <div class="dual-item">
                            <div><label for="payment-date">Payment Date<abbr title="This field is mandatory" class="required">*</abbr></label></div>
                            <input class="input" id="paymentDate" name="paymentDate" type="date" onfocus="setMaxDate()" oninput="formValidate(false,this)" onblur="formValidate(false,this)" required>
                            <div class="error-feild">&nbsp;</div>
                        </div>
                        <div class="dual-item">
                            <div><label for="payout">Payout with Salary</label></div>
                            <div><input class="input" id="payout" type="checkbox" style="zoom: 1.5;" oninput="formValidate(false,this)" onblur="formValidate(false,this)">
                                <div class="error-feild">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="notes" id="notesDiv">
                        <div>
                            <div><label for="notes">Notes</label></div>
                            <div>
                                <textarea class="input" id="notes" name="notes" style="resize: none;" maxlength="250" oninput="formValidate(false,this)" onblur="formValidate(false,this)"></textarea>
                                <div class="error-feild">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="total-and-currency dual" id="totalAndCurrency">
                        <div class="dual-item">
                            <div><label for="total">Total<abbr title="This field is mandatory" class="required">*</abbr></label></div>
                            <div>
                                <input class="input" id="amount" name="amount" type="number" min="0.01" max="5000" step="0.01" aria-rowcount="5" oninput="formValidate(false,this)" onblur="setAmount(this);formValidate(false,this)" required>
                                <div class="error-feild">&nbsp;</div>
                            </div>
                        </div>
                        <div class="dual-item">
                            <div><label for="currencies">Currency<abbr title="This field is mandatory" class="required">*</abbr></label></div>
                            <div>
                                <select class="input" id="currencies" name="currencies" onblur="formValidate(false,this)" onchange="formValidate(false,this)" required>
                                <option value="">- - Select - -</option>
                            </select>
                                <div class="error-feild">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="expense-claim-form-footer" id="expenseClaimFormFooter">
                    <button type="button" class="button green" id="create" onclick="formValidate(true,this);this.disabled=true;;">Create</button>
                    <button type="button" class="button green" id="edit" onclick="formValidate(true,this);this.disabled=true;" disabled>Save</button>
                    <button class="button red" id="cancel" type="reset" onclick="cancelRedirection(this)">Cancel</button>
                </div>
                <span id="id" style="display: none;"></span>
            </form>
        </div>
        <div class="viewData" id="viewData" style="display: none;">
            <div class="card" id="card" style="display: none;">

                <div class="card-head-item">
                    <div class="card-item"><span id="expenseName" style="font-size: 25px;"></span></div>
                    <div style="display: flex;">
                        <i class="fa-solid fa-pen-to-square icon-margin" style="cursor: pointer;" onclick="showFormForEdit(this.parentElement.parentElement.parentElement.id)"></i>
                        <i class="fa-solid fa-trash-can icon-margin" style="cursor: pointer;" onclick="deleteData(this.parentElement.parentElement.parentElement.id)"></i>
                    </div>
                </div>
                <hr>
                <div class="card-item"><i class="fa-solid fa-user icon-margin"></i><span id="employeeName"></span></div>
                <div class="card-item"><i class="fa-solid fa-calendar-days icon-margin"></i><span id="paymentDate"></span></div>
                <div class="card-item"><i class="fa-solid fa-note-sticky icon-margin"></i><span id="notes"></span></div>
                <div class="card-item"><i class="fa-solid fa-money-bill icon-margin"></i><span id="total"></span></div>
            </div>
            <div class="card-holder" id="cardHolder">

            </div>
        </div>
    </div>

</body>

</html>