<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../styles/login.css">
        <script src="../scripts/login.js"></script>
    </head>
    <body>
        <header class="heading"><h1>E Task Tracker</h1></header>
        <div class="span-container">
            <span class="login-form-container">
                <form id="login-form" name="login-form" class="login-Form" action="index.html">
                    <div class="login-form-heading"><h1>Login</h1></div>
                    <div class="login-form-grid-container">

                        <div class="login-form-grid-item"><label for="userName">Username</label></div>
                        <div class="login-form-grid-item"><input class="input" type="text" id="username"></div>

                        <div class="login-form-grid-item"><label for="password">Password</label></div>
                        <div class="login-form-grid-item"><input class="input" type="password" id="password"></div>
                    </div>
                    <div class="form-grid-tems"><input class="input" type="checkbox" id="showPassword" ><label for="showPassword" onclick="showPassword()" > Show password</label></div>
                    <div class="login-form-button"><input class="login-button" type="submit" value="Login"></div>
                    
                </form>
            </span>
        </div>
    </body>
</html>