<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>main</title>
</head>

<body>
    <div class="task-form-div-container">
        <div class="task-form-container">
            <form class="task-form">
                <h2>Create Task</h2>
                <!-- Task Name -->
                <div class="task-name"><label for="task-name">Task Name</label></div>
                <div><input class="inputType" type="text" id="task-name"></div>
                <!-- Task Description -->
                <div class="task-description"><label for="task-description">Task Description</label></div>
                <div><input class="inputType" type="text" id="task-description"></div>
                <!-- Team Members -->
                <div class="team-members"><label for="team-members">Team Members</label></div>
                <div><input class="inputType" type="text" id="Team Members"></div>
                <!-- Project Module -->
                <div class="project-module"><label for="project-module">Project module Name</label></div>
                <div><input class="inputType" type="text" id="project-module"></div>
                <!-- Project Files -->
                <div class="project-files"><label for="project-files">Drag and drop here</label></div>
                <div><input class="inputType" type="text" id="project-files"></div>
                <!-- Priority -->
                <div class="priority"><label for="priority">Priority</label></div>
                <div><input class="inputType" type="text" id="priority"></div>
                <!-- Task Dependencies -->
                <div class="task-dependencies"><label for="task-dependencies">Task Dependencies</label></div>
                <div><input class="inputType" type="text" id="task-dependencies"></div>
                <!-- Create Task Button -->
                <div class="create-task-button-container"><input type="button" id="createTask" class="create-task-button" value="Create Task"></div>
            </form>
        </div>
    </div>
</body>

</html>